# discord
TOKEN=""
DEV_TOKEN=""

# database
DATABASE_URL="mysql://<username>:<password>@<host>:<port>/<database_name>"

#LAST_FM
FM_KEY=""
FM_SHARED_SECRET=""

# API
PORT=
API_KEY="" # Use https://www.uuidgenerator.net/version4 to generate a secure key
